@import "../variables.scss";

footer {
  display: grid;
  grid-template-rows: 1fr min-content;
  background-image: $gradient;
  color: #fff;
  text-align: center;
}

.top-row {
  display: grid;
  grid-template:
    "logo"
    "adress"
    "contact"
    "links"
    "biv"
    "legal";
  gap: 1rem;
  padding: 1.5rem 2.5rem;
  align-content: center;
  justify-content: center;

  .logo {
    grid-area: logo;
    display: grid;
    justify-content: center;
    align-content: center;
    img {
      height: 150px;
      display: block;
      margin: 0;
    }
  }

  .adress {
    grid-area: adress;
    display: grid;
    align-content: center;
  }

  .contact {
    grid-area: contact;
    display: grid;
    align-content: center;
    a {
      text-decoration: underline;
    }
  }

  .links {
    grid-area: links;
    display: grid;
    place-content: center;
    .social {
      min-width: 120px;
      display: flex;
      justify-content: space-evenly;
    }
  }

  .biv {
    grid-area: biv;
    display: grid;
    place-content: center;
    p {
      font-size: 0.6rem;
      margin-bottom: .5rem;
    }
    a {
      text-decoration: underline;
      img {
        margin: 0;
        filter: brightness(0) invert(1);
      }
    }
  }

  .legal {
    grid-area: legal;
    display: grid;
    place-content: center;
    font-size: .8rem;
  }

  @include desktop {
    grid-template: "logo adress contact links biv legal";
    justify-content: space-between;
    gap: 0;
    max-width: 1400px;
  }
}

.bottom-row {
  display: flex;
  padding: 0.25rem 2.5rem;
  font-size: 0.7rem;
  :not(:last-child) {
    margin-right: 2rem;
  }
  @media screen and (min-width: 600px) {
    padding: 0.25rem 3.5rem;
  }
}

p {
  margin: 0;
}

address {
  font-style: normal;
}
