@import "../variables.scss";

header {
  display: flex;
  grid-template: "logo links";
  height: auto;
  width: 100%;
  padding: .5rem 2rem;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  z-index: 1;
  transition: height 2s;

  .logo {
    grid-area: logo;
    height: 80px;
    margin: 0;
    display: block;
  }

  .btn {
    grid-area: btn;
    justify-self: end;
  }

  @include phone {
    padding: 1rem;
  }

  @include tablet {
    padding: 1rem;
  }
}

.nav {
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  padding: 2rem 0;

  .nav-list {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    margin: auto 0;
    height: min-content;

    li {
      margin: auto;

      .sub-menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 1px;
        margin: auto 0.75rem;
      
        &:hover {
          cursor: pointer;
        }
      }
      
      .sub-nav-menu {
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        margin: auto 0;
        height: min-content;
        text-align: center;
        li {
          margin: auto;
          line-height: 2.5;
        }
      }
    }

    .nav-item {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 200;
      letter-spacing: 1px;
      margin: auto 0.75rem;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(58, 58, 58);
      }
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid #fff;
      }
    }
    .active {
      border-bottom: 1px solid #fff;
    }
  }
}

.desktop-nav{
  display: grid;
  place-items: center;
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    li{
      margin: 0;
      &:not(:last-child){
        margin-right: 1.25rem;
      }

      .sub-menu-item {
        display: flex;
        align-items: center;
      
        &:hover {
          cursor: pointer;
        }
      }
      
      .sub-nav-menu {
        display: block;
        position: absolute;
        background: #fff;
        z-index: 9999;
        padding: 1rem;
        li {
          margin-right: 0 !important;
          padding: 0.5rem 0;
        }
      }
    }
    .active{
      font-weight: bold;
      border-bottom: 2px solid lighten($color: $silc-purple, $amount: 10);
    }
  }
}

.indexHeader {
  background-color: transparent;
  position: absolute;
  color: #fff;
  .nav-item {
    color: #000;
  }
  .btn {
    background-color: transparent;
  }
}

.fullscreen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: $silc-purple;
  color: #fff;
  z-index: 2;
  overflow-x: hidden !important;

  .top-row {
    padding: 2rem 2rem 0 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: min-content;

    img {
      display: block;
      margin: 0;
      height: 125px;
    }
  }
  
  .nav{
    margin-top: -161px; //height of top-row to center
  }

  .close-fullscreen {
    margin: 1rem 1rem 0 auto;
    background-color: transparent;
    color: #fff;
  }
}

.chevron {
  max-width: 1rem;
  min-width: 1rem;
  margin: 0 0 0 0.5rem;
}
