@import "../variables.scss";
.search {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $silc-purple;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
  form {
    display: grid;
    grid-template-columns: 80% auto;
    padding: 1rem 2.5rem;
    margin: auto 0;
    .inputs {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      select {
        font-size: 1rem;
        border: 1px solid #4b4b6e;
        border-radius: 2px;
        color: #fff;
        background-color: #5d5d8d;
        width: 100%;
        padding: 0.5rem;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .button-group {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin: auto 0 auto auto;
      button {
        padding: 0.3rem 0.7rem;
        font-size: 1rem;
        color: #000;
        transition: ease-in 0.15s;
        background-color: #fff;
        border: none;
        border-right: solid 2px #505096;
        &:focus {
          outline: none;
        }
      }
      .btn {
        border-radius: 6px 0 0 6px;
        &:hover {
          cursor: pointer;
          background-color: darken($color: #fff, $amount: 10);
        }
      }
      .btn-icon {
        border-radius: 0 6px 6px 0;
        &:hover {
          cursor: pointer;
          background-color: darken($color: #fff, $amount: 10);
        }
      }
    }
    @include phone {
      padding: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content;
      .button-group {
        margin: 0.5rem auto auto 0;
      }
    }
    @include tablet {
      padding: 1rem 0.5rem;
      gap: 1rem;
    }
  }

  .mobile-row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    span{
      color: #fff
    }
    button{
      background-color: transparent;
      color: #fff;
      padding: 0;
      margin: 0;
      &:focus{
        outline: none
      }
    }
  }
}
