@import "../variables.scss";
.search {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $silc-purple;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  form {
    display: grid;
    grid-template-columns: 80% auto;
    padding: 1rem 2.5rem;
    margin: auto 0;
    .inputs {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
      select {
        font-size: 0.9rem;
        border: none;
        border-radius: 2px;
        color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: lighten($color: $silc-purple, $amount: 10) url("../../images/chevron-down-light.svg") no-repeat;
        background-size: 12px;
        background-position: right 0.75rem center;
        background-repeat: no-repeat;
        background-color: lighten($color: $silc-purple, $amount: 10);
        width: 100%;
        padding: 0.25rem 0.5rem;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          outline: none;
        }
      }
      input {
        width: 50%;
        font-size: 0.9rem;
        border: none;
        border-radius: 2px;
        color: #fff;
        background-image: url(../../images/euro-sign-light.svg);
        background-repeat: no-repeat;
        background-position: right 0.4rem center;
        background-size: 13px;
        background-color: lighten($color: $silc-purple, $amount: 10);
        width: 100%;
        padding: 0.25rem 0.5rem;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          outline: none;
        }
      }
      .input-half {
        display: flex;
        input {
          width: 50%;
        }
      }
    }
    .button-group {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin: auto 0 auto auto;
      button {
        padding: 0.3rem 0.7rem;
        font-size: 1rem;
        color: #fff;
        transition: ease-in 0.15s;
        background-color: $silc-purple;
        border: solid 3px lighten($color: $silc-purple, $amount: 10);
        &:focus {
          outline: none;
        }
      }
      .btn {
        border-right: solid 0.25px lighten($color: $silc-purple, $amount: 10);
        border-radius: 2px 0 0 2px;
        &:hover {
          cursor: pointer;
          background-color: lighten($color: $silc-purple, $amount: 10);
        }
      }
      .btn-icon {
        border-radius: 0 2px 2px 0;
        &:hover {
          cursor: pointer;
          background-color: lighten($color: $silc-purple, $amount: 10);
        }
      }
      @include phone {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 0 !important;
      }
      @include tablet {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 0 !important;
      }
    }
    @include phone {
      gap: 0.5rem;
      padding: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content;
      .button-group {
        margin: 0.5rem auto auto 0;
      }
    }
    @include tablet {
      padding: 1rem 0.5rem;
      gap: 1rem;
    }
  }

  .mobile-row {
    background-color: inherit;
    padding: 1rem 1rem;
    margin: inherit;
    display: flex;
    justify-content: space-between;
    span {
      color: #fff;
    }
    .closeIcon {
      background-color: transparent;
      color: #fff;
      padding: 0;
      margin: 0;
    }
    &:focus {
      outline: none;
    }
  }
}

.found {
  padding: 1rem 2rem;
  color: lighten($color: #000000, $amount: 50);

  @include phone {
    padding: 1rem 1rem;
  }
  @include tablet {
    padding: 1rem 1rem;
  }
}
