@import "../variables.scss";

.team {
  padding: 4rem 0;
  margin-bottom: 4rem;
  background: $gradient;
  color: #fff;
  h1 {
    text-align: center;
    margin: 0 0 1.5rem 0;
  }
  h2 {
    margin: 0;
  }
  .team-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: auto;
    justify-items: center;
    .person {
      display: flex;
      flex-direction: column;
      .person-img {
        margin: 0;
        min-width: 300px;
        grid-area: img;
        border-radius: 4px;
      }
      .person-title {
        margin-top: 1rem;
        grid-area: title;
        span {
          font-weight: bold;
        }
      }
    }

    @include phone {
      gap: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}

.why-silc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
  margin-bottom: 4rem;
  width: 90%;
  margin: 0 auto 4rem auto;
  .why-left {
    display: grid;
    background-image: url("../../images/why-silc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    place-items: center;
    color: #fff;
    border-radius: 4px;
    @include phone{
      display: none;
    }
  }
  .accordion {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-color: transparent;
    border-radius: 4px;
    min-width: 100%;
    .item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      .heading {
        align-items: center;
        display: flex;
        cursor: pointer;
        padding: 16px;
        .toggle-icon {
          margin-right: 12px;
        }
        .title {
          flex: 1;
          font-weight: bold;
        }
      }
      .content {
        display: none;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        padding: 16px;
      }
    }
  }
  @include phone {
    grid-template-columns: 1fr;
  }
}
