@import "../variables.scss";

.blog-posts {
  .blog-post {
    display: grid;
    min-height: 40vh;
    grid-template: "img cont" / 1fr 1fr;
    .hero-img {
      margin: 0;
      display: block;
      grid-area: img;
    }

    .content {
      grid-area: cont;
      min-height: 30vh;
      padding: 3rem;
      justify-self: start;
      align-self: center;
      h1 {
        margin: 0;
        @include phone{
          font-size: 1.5rem;
        }
      }
      span {
        color: lighten($color: #000000, $amount: 50);
      }
      p {
        margin-top: 1rem;
      }
      @include phone {
        padding: 2rem;
      }
    }
    @include phone {
      grid-template:
        "img" 20vh
        "cont";
    }
  }
}

.blog-posts section:nth-child(odd) {
  .blog-post {
    grid-template: "cont img" / 1fr 1fr;
    @include phone {
      grid-template:
        "img" 20vh
        "cont";
    }
  }
}

.post {
  width: 50%;
  margin: auto;
  h1 {
    margin-bottom: 0;
  }
  span {
    color: lighten($color: #000000, $amount: 50);
  }
  p {
    margin-top: 1rem;
  }

  @include phone {
    width: 100%;
    padding: 0 1.5rem;
  }
}
