@import "../variables.scss";
@import '../index.scss';

.column-page {
  .hero {
    background: $gradient;
    color: #fff;
    padding: 4rem 1rem;
    h1 {
      margin-bottom: 1.5rem;
    }
  }
  .card-wrapper {
    h2 {
      font-size: 1.3rem;
      margin: 1.5rem 0 0.5rem 0;
    }
    .content {
      padding: 0 1rem;
    }

    .card {
      display: grid;
      grid-template: 
      "img" 25vh
      "cont";
      margin: 1rem 0 2rem 0;
    }

    .card-footer {
      margin: 4rem 0 2rem 0;

      h2 {
        margin-bottom: 2rem;
        text-align: center;
      }

      .card-footer-content {
        > * {
          margin: 1rem 0;
        }
      }
    }
  }

  @include desktop {
    .hero > * {
      max-width: 75%;
      margin: 0 auto;
      padding: 0;

    }
    .card-wrapper {
      .card {
        margin: 0;
        grid-template: "img cont" 55vh / 1fr 1fr;
        .img {
          grid-area: img;
        }
        .content {
          grid-area: cont;
          display: flex;
          flex-direction: column;
          max-width: 75%;
          margin: auto;
        }
        &:nth-child(even) {
        grid-template: "cont img" 55vh / 1fr 1fr;
        }
      }
      .card-footer {
        h2 {
          text-align: center;
        }
  
        .card-footer-content {
          > * {
            margin: 0 1rem;
          }
        }
      }
    }
  }
}
