@import "../variables.scss";

.wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 95vh;
  padding: 1rem 0;

  .content {
    max-width: 50%;
    margin: auto;
    .header {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      position: absolute;
      .card {
        background-color: white;
        padding: 2rem;
        h1,
        h2 {
          margin: 0;
        }
      }
    }
    .body {
      .card {
        background-color: white;
        padding: 7rem 3rem 5rem 3rem;
        margin: 3rem 0 0 3rem;
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          p {
            font-size: 1rem;
            letter-spacing: 1px;
            width: 85%;
          }
        }
        form {
          margin-top: 2rem;
          .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
          }
          input,
          textarea {
            width: 100%;
            max-width: 100%;
            margin-top: 0.5rem;
            padding: 0.25rem 0;
            resize: none;
            border: none;
            border-bottom: 2px solid $silc-purple;
            border-radius: 2px;
            background-color: #fff;
            color: #000;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #000;
              opacity: 0.8;
            }
          }
          button {
            padding: 0.3rem 0.7rem;
            font-size: 1rem;
            color: #000;
            transition: ease-in 0.15s;
            background-color: #fff;
            border: solid 2px lighten($color: $silc-purple, $amount: 10);
            &:focus {
              outline: none;
            }
          }
          .btn {
            border-radius: 2px 0 0 2px;
            &:hover {
              cursor: pointer;
              background-color: lighten($color: $silc-purple, $amount: 10);
              color: #fff;
            }
          }
        }
      }
    }
  }
}
@include tablet {
  .content {
    margin: 2rem 0;
  }
}

@include phone {
  .wrapper {
    display: block;
    padding: 0;
    min-height: min-content;
    .content {
      max-width: 100%;
      padding: 0 1.5rem;
      .header {
        position: unset;
        box-shadow: none;
        .card {
          padding: 1rem 0;
        }
      }
      .body {
        width: 100%;
        // padding: 3rem 0 0 0;
        // margin: 0;
        .card {
          margin: 0;
          padding: 0;
          .row {
            p {
              margin-left: 1rem;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
