@import "../variables.scss";

.container {
  margin: 2rem 2.5rem 0 2.5rem;
  display: grid;
  grid-template:
    "title"
    "price"
    "estate-data"
    "amentities"
    "description"
    "map"
    "form"
    ;
  .title {
    grid-area: title;
    margin-bottom: 1rem;
    h3 {
      margin: 0;
    }
    p {
      color: lighten($color: #000000, $amount: 60);
    }
  }

  .price {
    grid-area: price;
    height: min-content;
    width: 140px;
    padding: .5rem;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    background: $gradient;
    border-radius: 4px;
  }

  .amentities {
    grid-area: amentities;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    .amentity {
      display: grid;
      justify-items: center;
      align-content: center;
      span {
        font-size: 0.85rem;
      }
    }
  }

  .description {
    grid-area: description;
    margin-bottom: 2.5rem;
    p {
      white-space: pre-wrap;
      margin-bottom: 1.5rem;
    }
    a {
      color: #000;
      font-weight: bold;
      text-decoration: underline !important;
    }
  }

  .estate-data {
    grid-area: estate-data;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    place-items: center; 
    gap: .5rem;
    .room-card {
      display: grid;
      width: min-content;
      margin: 0 auto;
      justify-items: center;
      .icon {
        color: lighten($color: #000, $amount: 40);
      }
      p {
        font-size: 0.7rem;
        color: lighten($color: #000, $amount: 40);
      }
      span {
        font-size: 1.3rem;
      }
    }
    .details {
      display: grid;
      justify-items: start;
      align-content: center;
      margin: 0 auto;
    }
    .vertical-border {
      width: 85%;
      border-bottom: 2px solid $silc-purple-bright;
      border-radius: 1rem;
    }
  }
  .map {
    margin-bottom: 2rem;
    grid-area: map;
  }

  .contact-form {
    form {
      grid-area: form;
      margin-top: 2rem;
      .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
      }
      input,
      textarea {
        margin-top: 0.5rem;
        width: 100%;
        max-width: 100%;
        resize: none;
        border: none;
        border-bottom: 2px solid $silc-purple;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: black;
          opacity: 0.8;
        }
      }
      button {
        padding: 0.3rem 0.7rem;
        font-size: 1rem;
        color: #000;
        transition: ease-in 0.15s;
        background-color: #fff;
        border: solid 2px lighten($color: $silc-purple, $amount: 10);
        &:focus {
          outline: none;
        }
      }
      .btn {
        border-radius: 2px 0 0 2px;
        &:hover {
          cursor: pointer;
          background-color: lighten($color: $silc-purple, $amount: 10);
          color: #fff;
        }
      }
    }
  }

  @include desktop {
    margin-top: 4rem;
    grid-template:
      "title price"
      "estate-data map"
      "amentities map"
      "description form"
      / 1fr 1fr;

    gap: 0 4rem;

    .price {
      justify-self: end;
    }
    .map {
      align-self: end;
      margin-bottom: 2.5rem;
    }
    .estate-data{
      border-bottom: 2px solid $silc-purple-bright;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr min-content 1fr min-content 1fr;
      .vertical-border {
        height: 85%;
        width: 1px;
        border-right: 2px solid $silc-purple-bright;
        border-radius: 1rem;
      }
    }
  }
}
