@import "../variables.scss";

.container {
  margin: 4rem 2.5rem 0 2.5rem;
  display: grid;
  grid-template:
    "title"
    "price"
    "estate-data"
    "description"
    "amentities";
  .title {
    grid-area: title;
    margin-bottom: 1rem;
    h3 {
      margin: 0;
    }
    p {
      color: lighten($color: #000000, $amount: 60);
    }
  }

  .price {
    grid-area: price;
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
  }

  .amentities {
    grid-area: amentities;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .amentity {
      display: grid;
      justify-items: center;
      align-content: center;
      gap: 0.3rem;
      span {
        font-size: 0.95rem;
      }
    }
  }

  .description {
    grid-area: description;
    margin-bottom: 2.5rem;
    p {
      white-space: pre-wrap;
      margin-bottom: 1.5rem;
    }
    a {
      color: #000;
      font-weight: bold;
      text-decoration: underline !important;
    }
  }

  .estate-data {
    grid-area: estate-data;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr min-content 1fr min-content 1fr;
    gap: 1rem;
    place-content: center;
    place-items: center;
    .room-card {
      display: grid;
      width: min-content;
      margin: 0 auto;
      justify-items: center;
      .icon {
        color: lighten($color: #000, $amount: 40);
      }
      p {
        font-size: 0.7rem;
        color: lighten($color: #000, $amount: 40);
      }
      span {
        font-size: 1.3rem;
      }
    }
    .details {
      display: grid;
      justify-items: start;
      align-content: center;
      margin: 0 auto;
    }
    .vertical-border {
      height: 85%;
      width: 1px;
      border-right: 1px solid rgba(0, 0, 0, 0.315);
      border-radius: 1rem;
    }
  }
  .map{
    margin-bottom: 2rem;
  }

  @include desktop {
    grid-template:
      "title price"
      "estate-data map"
      "description map"
      "amentities ."
      / 2fr 1fr;
    
    gap: 0 1rem;

    .price {
      justify-self: end;
    }
    .map {
      align-self: end;
      margin-bottom: 0;
    }
  }
}
