@import "../variables.scss";
@import "../variables.scss";

.estates {
  .estate-item {
    display: grid;
    height: 50vh;
    grid-template: "img cont" / 1fr 1fr;
    .hero-img {
      grid-area: img;
      &:hover {
        cursor: pointer;
      }
    }
    .content {
      grid-area: cont;
      max-height: 50vh;
      padding: 4rem;
      justify-self: start;
      align-self: center;
      h2 {
        margin-bottom: .5rem;
      }
      .ref {
        font-size: 0.75rem;
        color: lighten($color: #000, $amount: 60);
        text-transform: uppercase;
      }
      .price {
        font-size: 1rem;
        color: lighten($color: #000, $amount: 45);
      }
      .detailsLink {
        text-transform: uppercase;
        border-bottom: 1px solid #000;
      }
       .virtual-url {
        border: 2px solid $silc-purple-bright;
        color: $silc-purple;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.25rem;
        margin-left: 2rem;
        &:hover {
          cursor: pointer;
          background-color: lighten($color: $silc-purple-bright, $amount: 50);
        }
      }
      @include phone {
        padding: 2rem;
        h2 {
          font-size: 1.2rem;
        }
        .detailsLink {
          font-size: 0.8rem;
        }
      }
    }
    @include phone {
      grid-template:
        "img" auto
        "cont" min-content
        / 1fr;
      margin-top: 3rem;
    }
  }
  .wrapper {
    display: grid;
    place-content: center;
    min-height: calc(100vh - 237px);
    p {
      margin-bottom: 1rem;
    }
    .not-found {
      background-color: #ddd;
      color: lighten($color: #000000, $amount: 20);
      padding: 2rem;
      border-radius: 5px;
      @include phone {
        margin: 0 2rem;
      }
    }
  }
}
.estates div:nth-child(even) {
  grid-template: "cont img" / 1fr 1fr;
  @media screen and (max-width: 600px) {
    grid-template:
      "img" auto
      "cont" min-content
      / 1fr;
  }
}
