@import '../variables.scss';

.hero {
  background-color: #fff;
  color: #fff;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  h1,h2 {
    text-align: center;
  }
  @include phone {
    h1 {
      font-size: 5rem;
    }
    h2{

    }
  }
  @include tablet {
    h1 {
      font-size: 10rem;
    }
    h2{
      
    }
  }
  @include desktop{
    h1 {
      font-size: 10rem;
    }
    h2{
      font-size: 4rem;
    }
  }
}

.cta {
  padding: 0.3rem 0.7rem;
  color: #000;
  transition: ease-in 0.15s;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: .5rem;
  margin: 0 auto;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.search {
  width: 75vw;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: -5vh auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  @media screen and (min-width: 900px) {
    width: 95vw;
  }
  @media screen and (min-width: 700px) {
    width: 100vw;
    padding: 0;
  }
}

.section {
  display: grid;
  grid-template: "img cont" / 1fr 1fr;
  min-height: 50vh;
}

.section-reverse {
  display: grid;
  grid-template: "cont img" / 1fr 1fr;
  min-height: 50vh;
}

.section,
.section-reverse {
  @include phone{
    min-height: 80vh;
    grid-template:
      "img" min-content
      "cont";
  }
}

.img {
  grid-area: img;
  height: inherit;
  background-image: url("../../images/index.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  @include phone {
    height: 35vh;
  }
}
.img2 {
  grid-area: img;
  height: inherit;
  background-image: url("../../images/index2.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  @include phone {
    height: 35vh;
  }
}
.content {
  grid-area: cont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 2rem;
  @include phone {
    justify-content: start;
    padding: 1rem;
  }
  h1{
    margin-bottom: .5rem;
  }
  a {
    color: #505096;
    margin-top: 1rem;
    text-decoration: underline;
  }
}

.featured {
  margin: 4rem 0 0 0;
  .gallery {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 0.2rem;
    .image-container {
      position: relative;
      width: 100%;
      max-width: 25vw;
      height: 40vh;
      overflow: hidden;
      .child {
        transition: all 0.5s;
      }
      .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        opacity: 1;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 1rem;
        text-align: center;
      }
      &:hover .child {
        transform: scale(1.1);
      }
      &:focus .child {
        transform: scale(1.1);
      }
    }
  }
  @include phone {
    .gallery {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      overflow-y: scroll;
      gap: 0.1rem;
      .image-container {
        max-width: 50vw;
        img {
          height: auto;
          max-width: 50vw;
          margin-bottom: 0;
        }
        .overlay {
          font-size: 0.75rem;
          padding: 0.5rem;
        }
      }
    }
  }
}
