@import "../variables.scss";

.wrapper {
  margin: 2rem;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  a {
    color: $silc-purple-bright;
  }

  .intro {
    text-align: center;
    background-color: $silc-purple-bright;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}
