@import "../variables.scss";

.wrapper {
  .hero {
    padding: 0 1rem;
    background: $gradient;
    color: #fff;
    padding: 4rem 1rem;
    * {
      max-width: 1300px;
      margin: 0 auto;
    }
  }
  section {
    max-width: 1300px;
    margin: 2rem auto 3rem auto;
    padding: 0 1rem;
  }

  .intro {
    p {
      max-width: 840px;
    }
  }

  .tips-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 2rem;
    gap: 3rem 1rem;
    .tip {
      background-color: lighten($color: $silc-purple, $amount: 60);
      padding: 0 2rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      h3 {
        text-align: center;
        color: $silc-purple-bright;
      }
      .tip-nr {
        color: #fff;
        background-color: $silc-purple;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        transform: translateY(-30px);
      }
      .tip-text {
      }
    }
  }

  @include desktop {
    .tips-wrapper {
    }
  }
}
