@import "../variables.scss";

.trip {
  .hero {
    background: $gradient;
    color: #fff;
    padding: 4rem 0;
    h1 {
      margin-bottom: 1.5rem;
    }
  }
  .card-wrapper {
    .card {
      margin-top: 2rem;
      img {
        display: block;
      }
      h2 {
        font-size: 1.3rem;
        margin: 1.5rem 0 0.5rem 0;
      }
    }
  }

  @include desktop {
    .hero > * {
      max-width: 75%;
      margin: 0 auto;
    }
    .card-wrapper {
      .card {
        margin-top: 0;
        display: grid;
        grid-template: "img cont" 45vh / 1fr 1fr;
        .img {
          grid-area: img;
        }
        .content {
          grid-area: cont;
          display: flex;
          flex-direction: column;
          max-width: 75%;
          margin: auto;
        }
        &:nth-child(even) {
        grid-template: "cont img" 45vh / 1fr 1fr;
        }
      }
    }
  }
}
