@import "../variables.scss";

.trip {
  .hero {
    background: $gradient;
    color: #fff;
    padding: 4rem 0;
    h1 {
      margin-bottom: 1.5rem;
    }
  }
  .card-wrapper {
    margin-bottom: 1rem;
    .card {
      margin-top: 2rem;
      img {
        display: block;
      }
      h2 {
        font-size: 1.3rem;
        margin: 1.5rem 0 .5rem 0;
      }
    }
  }

  @include desktop {
    margin: 0 auto;
    .hero > * {
      max-width: 75%;
      margin: 0 auto;
    }
    .card-wrapper {
      display: grid;
      margin: 0 auto;
      gap: .75rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      max-width: 75%;
      .card {
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}
