.blog-posts {
  .blog-post {
    display: grid;
    height: 40vh;
    grid-template: "img cont" / 1fr 1fr;
    .hero-img {
      margin: 0;
      display: block;
      grid-area: img;
    }

    .content {
      grid-area: cont;
      max-height: 30vh;
      padding: 4rem;
      justify-self: start;
      align-self: center;
    }
  }
}

.blog-posts section:nth-child(odd){
  .blog-post {
    grid-template: "cont img" / 1fr 1fr;
  }
}

.post{
  width: 50%;
  margin: auto
}
