.gallery {
  position: relative;
  .buttonBack,
  .buttonNext {
    color: #FFF;
    top: 50%;
    position: absolute;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .buttonBack {
    left: 0;
    margin-left: .5rem;
  }
  .buttonNext {
    right: 0;
    margin-right: .5rem;
  }

  .slider {
    height: min-content;
  }

  .slide{
    height: min-content;
  }

  .img {
    padding-right: .25rem;
  }
}