.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.2rem;
}

.image {
  min-height: 300px;
}

.price {
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: 200;
}

.container {
  margin: 0 2.5rem;
  li {
    margin: 0;
  }
  ul {
    margin-bottom: 0;
  }
  p {
    white-space: pre-wrap;
    // margin: .5rem
  }
}
