.container {
  margin: 0 2.5rem;

  .title {
    margin-bottom: 1rem;
    h3 {
      margin: 0;
    }
    p {
      color: lighten($color: #000000, $amount: 60);
    }
  }

  .price {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 200;
  }

  .amentities {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .description {
    margin-bottom: 1.5rem;
    p {
      white-space: pre-wrap;
      margin-bottom: 1.5rem;
    }
    a {
      text-decoration: underline !important;
    }
  }
}
