.container {
  margin: 0 2.5rem;

  .title {
    margin-bottom: 1rem;
    h3 {
      margin: 0;
    }
    p {
      color: lighten($color: #000000, $amount: 60);
    }
  }

  .price {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 200;
  }

  .amentities {
    width: 50%;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .amentity {
      display: grid;
      justify-items: center;
      align-content: center;
      gap: 0.3rem;
      span {
        font-size: 0.95rem;
      }
    }
  }

  .description {
    width: 50%;
    margin-bottom: 2.5rem;
    p {
      white-space: pre-wrap;
      margin-bottom: 1.5rem;
    }
    a {
      color: #6a6ae6;
      font-weight: bold;
      text-decoration: underline !important;
    }
  }

  .estate-data {
    width: 50%;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .room-card {
      display: grid;
      width: min-content;
      margin: 0 auto;
      gap: .5rem;
      justify-items: center;
      span {
        font-size: 1.3rem;
      }
    }
    .details {
      display: grid;
      justify-items: start;
      align-content: center;
      margin: 0 auto;
    }
  }
}
