footer {
  background-image: linear-gradient(to right, #4b4b6e, #4c4c78, #4e4e82, #4f4f8c, #505096);
  color: #fff;
  display: grid;
  padding: 2rem 2.5rem;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

.contact {
  font-size: .95rem;
}

.title {
  font-weight: bold;
  letter-spacing: 2px;
}