@import "../styles/variables.scss";

body {
  color: #000;
  font-size: 16px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.text-center {
  text-align: center;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.3rem 0.7rem;
  color: #000;
  transition: ease-in 0.15s;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.section {
  display: grid;
  min-height: 40vh;
  grid-template: "section-left right-section" / 1fr 1fr;
  .section-left {
    grid-area: section-left;
    height: inherit;
  }

  .section-right {
    grid-area: right-section;
    height: inherit;
    padding: 4rem;
    justify-self: center;
    align-self: center;
    @include phone {
      padding: 2rem;
    }
  }
  @include phone {
    grid-template:
      "left-section" auto
      "right-section" min-content
      / 1fr;
  }
}

.section:nth-child(odd) {
  grid-template: "right-section section-left" / 1fr 1fr;
}
