.search {
  display: grid;
  grid-template-columns: 1fr;
  background-image: linear-gradient(to right, #4b4b6e, #4c4c78, #4e4e82, #4f4f8c, #505096);
  form {
    display: grid;
    grid-template-columns: 80% auto;
    padding: 1.5rem 2.5rem;
    margin: auto 0;
    .inputs {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      select {
        font-size: 1rem;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #000;
        background-color: #fff;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
        width: 100%;
        padding: 0.3rem;
        margin: 0.25rem 0;
        &::placeholder {
          color: #000;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .button-group {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin: auto 0 auto auto;
      button {
        padding: 0.3rem 0.7rem;
        font-size: 1rem;
        color: #000;
        transition: ease-in 0.15s;
        background-color: #fff;
        border: none;
        border-right: solid 2px #505096;
        &:focus {
          outline: none;
        }
      }
      .btn {
        border-radius: 6px 0 0 6px;
        &:hover {
          cursor: pointer;
          background-color: darken($color: #fff, $amount: 10);
        }
      }
      .btn-icon {
        border-radius: 0 6px 6px 0;
        &:hover {
          cursor: pointer;
          background-color: darken($color: #fff, $amount: 10);
        }
      }
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content;
      .button-group{
        margin: .5rem auto auto 0;
      }
    }
  }
}