.hero {
  background-image: url("https://images.unsplash.com/photo-1512753360435-329c4535a9a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.section {
  display: grid;
  grid-template: "img cont" / 1fr 1fr;
  height: 70vh;
}

.section-reverse {
  display: grid;
  grid-template: "cont img" / 1fr 1fr;
  height: 70vh;
}

.section,
.section-reverse {
  @media screen and (max-width: 600px) {
    height: 95vh;
    grid-template:
      "img" min-content
      "cont";
  }
}

.img {
  grid-area: img;
  height: inherit;
  background-image: url("https://www.hipestates.com/thumbs/home/aanbod-back-800x800.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 600px) {
    height: 35vh;
  }
}
.content {
  grid-area: cont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 2rem;
  @media screen and (max-width: 600px) {
    justify-content: start;
    padding: 1rem;
  }
}

.featured {
  margin: 5rem 0;
  .gallery {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 0.5rem;
    .image-container {
      position: relative;
      width: 100%;
      max-width: 25vw;
      height: 40vh;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        max-width: 25vw;
        height: 40vh;
        transition: transform 0.5s ease;
      }
      .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        opacity: 1;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 1rem;
        text-align: center;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
  }
  @media screen and (max-width: 600px) {
    .gallery {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      overflow-y: scroll;
      gap: 0.5rem 0.5rem;
      .image-container {
        max-width: 50vw;
        height: auto;
        img {
          height: auto;
          max-width: 50vw;
          margin-bottom: 0;
        }
        .overlay {
          font-size: 0.75rem;
          padding: 0.5rem;
        }
      }
    }
  }
}
