footer {
  display: grid;
  padding-bottom: 2rem;
  // grid-template-columns: 1fr 1fr;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

.block {

}

.contact {
  font-size: .95rem;
}

.title {
  font-weight: bold;
}